<div class="formdialog">
<h3>Add Menu</h3>
<form #form="ngForm" (ngSubmit)="dialogRef.close(form.value)" ngNativeValidate>

  <div fxLayout="column" fxLayoutGap="8px">

    <mat-input-container>
      <input matInput ngModel name="name" placeholder="Menu Name" [(ngModel)]="dataType.name" required>
    </mat-input-container>
    
    <mat-input-container>
      <input matInput ngModel name="description" placeholder="Description" [(ngModel)]="dataType.description" required>
    </mat-input-container>

    <mat-input-container>
      <input matInput ngModel name="group" placeholder="Group" [(ngModel)]="dataType.group" required>
    </mat-input-container>

    <mat-input-container>
      <input matInput ngModel name="price" placeholder="Price" [(ngModel)]="dataType.price" required>
    </mat-input-container>

    <mat-input-container>
      <input matInput ngModel name="coverImage" placeholder="Cover Image" [(ngModel)]="dataType.Image" required>
    </mat-input-container>

  </div>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="accent" (click)="onSubmit()">Save Book</button>
  </mat-dialog-actions>
</form>


<div *ngIf="currentFileUpload" class="progress" style="width:400px">
	<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>
 
<label class="btn btn-default"> <input type="file"
	(change)="selectFile($event)">
</label>
 
<button class="btn btn-success" [disabled]="!selectedFiles"
  (click)="upload()">Upload</button>
  
</div>
