md-sidenav {
  width: 300px;
}

.master-detail-container {
  height: calc(100vh - 113px);
  overflow: hidden;
  padding: 1rem;
}

.books-list-container {
  height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.casa-felipa-logo{
  display: inline-block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;

}
